@import "~@blueprintjs/core/lib/scss/variables";


:local .base {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  overflow: hidden;

  .sidebar {
    flex-shrink: 0;
    flex-grow: 0;
    width: 22rem;
    display: flex;
    flex-flow: column nowrap;
    background: $pt-app-background-color;
    box-shadow: $pt-elevation-shadow-1;

    .objects {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;

      .objectTree {
        flex: 1;
      }
    }

    .objects .listActions {
      padding: 0 $pt-grid-size / 2;
    }
    .source {
      padding: ($pt-grid-size / 2) $pt-grid-size 0 $pt-grid-size;
    }
  }

  .mainPane {
    flex: 1;
    box-shadow: $pt-elevation-shadow-1;
    display: flex;
    flex-flow: column nowrap;
  }
}

:global .bp3-tree-node-selected {
  .bp3-editable-text-editing {
    &::before {
      background: transparent !important;
    }
    .bp3-editable-text-input::placeholder {
      color: white;
      opacity: .5;
    }
  }
  .bp3-editable-text-placeholder {
    .bp3-editable-text-content {
      color: white;
      opacity: .5;
    }
  }
}

:local .mainPaneInner {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  > :last-child {
    flex: 1;
  }

  .toolbar {
    flex-shrink: 0;
    padding: $pt-grid-size ($pt-grid-size * 4);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    > .title {
      color: $pt-text-color-disabled;
      font-size: 160%;
      font-weight: bold;
      letter-spacing: -0.05em;
      flex: 1;
    }
  }
}

:local .drillPlanForm {
  padding: $pt-grid-size * 4;
  overflow-y: auto;

  > * {
    margin-bottom: $pt-grid-size * 2;
  }

  .drillPlanSectionHeader {
    color: $pt-text-color-muted;
  }

  .drillPlanStep {
    display: flex;
    flex-flow: row nowrap;

    > :first-child {
      flex: 1;
      margin-right: $pt-grid-size;
    }
  }
  :global .bp3-form-group {
    label.bp3-label {
      z-index: 2;
      position: relative;
    }
    textarea {
      font-size: 120% !important;
      background: whitesmoke;
      box-shadow: none !important;
      padding: $pt-grid-size !important;
      margin: -$pt-grid-size;
      z-index: -1;
      font-weight: bold;

      &::placeholder {
        font-weight: normal;
      }
    }
  }
}


:local .drillReportForm {
  display: flex;
  flex-flow: column nowrap;
  padding: $pt-grid-size * 2;
  overflow-y: auto;

  .planIntro {
    margin-bottom: $pt-grid-size * 2;
  }

  .planIntro,
  .stepParticipantsGeneral,
  .stepActivity,
  .stepPlan {
    display: flex;
    flex-flow: row nowrap;

    > * {
      flex: 1;
      margin-right: $pt-grid-size;
    }
  }

  .stepPlan {
    align-items: flex-end;
  }

  .stepTimer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > :first-child {
      margin-right: $pt-grid-size;
    }
  }
}

:local .noDrillPrompt {
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

:local .pastDrillList {
  overflow-y: auto;

  .pastDrillEntry {
    display: flex;
    flex-flow: row nowrap;

    > :first-child {
      margin-right: $pt-grid-size;
    }
  }
}